<%- include('./header') %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./dashboard.css">
</head>
<body>
    <div class="page">
  <section class="main">
    <h2>Dashboard</h2>
    <ul>
      <li class="header">
        <div>Name</div>
        <div>Age</div>
        <div>Date</div>
        <div>Sleep Time</div>
        <div>Disturbance</div>
      </li>
      <% for(var i=0;i<data.length;i++) { %>
        <li class="items">
            <div><%= data[i].name %> </div>
            <div><%= data[i].age %> </div>
            <div><%= data[i].date %> </div>
            <div><%= data[i].sleepTime %> </div>
            <div><%= data[i].disturbance %> </div>
        </li>
        <% } %> 
    </ul>
  </section>
</div>
</body>
</html>